
@{
    ViewData["Title"] = "AllStudents";
}
@model IEnumerable<Student>


<div class="row">
    <div class="col-md-10">
        <h2>AllStudents</h2>
    </div>
    <div class="col-md-2" align="right">
        <br />
        <a asp-action="AddStudent" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Student</a>
    </div>
</div>

<form class="form-inline" asp-action="AllStudents" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="rollNo">Roll No</label>
                <input type="number" class="form-control" id="rollNo" name="RollNo"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="Name"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" name="Department" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
    </div>
</form>

<br />

<table id="studentTable" name="studentTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>CNIC</th>
            <th>Department</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.RollNo</td>
                <td>@student.Name</td>
                <td>@student.Cnic</td>
                <td>@student.Class</td>
                <td>@student.Email</td>
                <td>
                    <a href="/Student/StudentDetail?Id=@student.Id" class="btn btn-success">Details</a>
                    <a href="#" data-studentid="@student.Id" class="btn btn-danger DeleteStudent" ><span class="glyphicon glyphicon-floppy-remove"></span> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script>
        $().ready(function () {
            $('#studentTable').DataTable();
        });

        $(function () {
            $('.DeleteStudent').click(function () {
                var ClickedButton = $(this);
                var StudentId = ClickedButton.data('studentid');
                ClickedButton.text('Please Wait');
                $.ajax({
                    url: "/Student/DeleteStudentByAjax",
                    type: "POST",
                    data: {
                        Id: StudentId
                    },
                    complete: function (result) {
                        if (result.responseText === "Yes") {
                            alert("Student with ID " + StudentId + " was deleted succefully");
                            ClickedButton.parent().parent().fadeOut(2000);

                        } else {
                            alert("Error! could not delte student");
                            ClickedButton.children().addClass('glyphicon glyphicon-floppy-remove');
                            ClickedButton.text('Delete');
                        }
                    }

                });
            });
        });

    </script>
}