
@{
    ViewData["Title"] = "AllStudents";
}
@model IEnumerable<Student>


<div class="row">
    <div class="col-md-10">
        <h2>AllStudents</h2>
    </div>
    <div class="col-md-2" align="right">
        <br />
        <a asp-action="AddStudent" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Student</a>
    </div>
</div>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>CNIC</th>
            <th>Department</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.RollNo</td>
                <td>@student.Name</td>
                <td>@student.Cnic</td>
                <td>@student.Class</td>
                <td>@student.Email</td>
                <td>
                    <a href="/Student/StudentDetail?Id=@student.Id" class="btn btn-success">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>